:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.mobile-menu {
    padding: 24px;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--sm);
}

.mobile-menu ul {
    list-style: none;
    margin: 24px 0 0;
}

.mobile-menu ul:nth-child(1) li:last-child {
    border-bottom: 1px solid var(--very-light-pink);
    padding-bottom: 24px;
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.mobile-menu ul:last-child {
    padding-top: 24px;
}

.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}

ul .sign-out {
    color: var(--hospital-green);
    font-size: var(--sm);
}

